$background-color: #CDCDCD;
$black: black;
$white: white;
$red: rgba(#FF0000, .7);

// The width of the App items
$item-width: 200px;

// Border radius of all items
$border-radius: 3px;

@mixin noselect {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
   user-select: none;  /* Likely future */
}
